services:

  ntp-server:
    image: cturra/ntp:latest
    restart: always
    container_name: SYSTEM-NTPSERVER
    network_mode: host
    environment:
      - TZ=Etc/UTC
      - NTP_SERVERS=ptbtime1.ptb.de,ptbtime2.ptb.de,ptbtime3.ptb.de,ntps1-0.eecsit.tu-berlin.de,ntp1.fau.de,zeit.fu-berlin.de
      - LOG_LEVEL=0
    read_only: true
    tmpfs:
      - /etc/chrony:rw,mode=1750
      - /run/chrony:rw,mode=1750
      - /var/lib/chrony:rw,mode=1750
    healthcheck:
      test: ["CMD", "chronyc", "tracking"]
      interval: 60s
      timeout: 5s
      retries: 3
      start_period: 30s
